/* Модалка */
.custom-modal {
    border-radius: 10px;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in-out;
    max-width: 600px;
    width: 100%;
}

.custom-form {
    max-height: 65vh;
    overflow-y: auto;
    padding: 20px;
}

.custom-form .ant-input,
.custom-form .ant-select-selector,
.custom-form .ant-picker,
.custom-form .ant-input-number {
    border-radius: 8px;
    border-color: #d9d9d9;
    transition: all 0.3s;
    width: 100%;
}

.custom-form .ant-input:focus,
.custom-form .ant-select-selector:focus,
.custom-form .ant-picker-focused,
.custom-form .ant-input-number-focused {
    border-color: #1677ff;
    box-shadow: 0 0 5px rgba(22, 119, 255, 0.3);
}

.ant-btn-primary {
    background-color: #1677ff;
    border-color: #1677ff;
    transition: all 0.3s;
}

.ant-btn-primary:hover {
    background-color: #135baf;
    border-color: #135baf;
}

/* Плавная анимация при открытии */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Адаптивность */
@media (max-width: 768px) {
    .custom-modal {
        max-width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .custom-form {
        max-height: calc(100vh - 60px);
        padding: 10px;
    }

    .ant-btn-primary {
        width: 100%;
        height: 45px;
        margin-top: 10px;
    }
}
